
# 9.32. Pandas kutubxonasi bo ªyicha amaliy vazifa.

Yengillik yaratish maqsadida topshiriqlarni `üìåMavzulashtirilgan`

## `üìåPandas kutubxonasini yuklash`

**1.** Pandas kutubxonasini `pd` nomi ostida yuklang va uni chop eting.

**2.** Versiya va konfiguratsiyani tekshiring.

'1.5.3'

**3.** Pandas kutubxonasida mavjud bo ªlgan barcha versiya ma ºlumotlarini chop eting.

## `üìåDataFrame: Asoslar`

DataFrames ºda ma ºlumotlarni tanlash (selecting), saralash (sorting), qo ªshish (adding) va yig ªish (aggregating) uchun bir nechta asosiy mashqlar.

üí°Eslatma: NumPy kutubxonasini import qilishni unutmang.
``` python
import numpy as np
```

Quyidagi Python lug ªati (dictionary) `data` va Python ro ªyxati (list) `labels` ni ko ªrib chiqing.


``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**4.** Ushbu `lug ªat` (dictionary) yordamida `data` dan `labels` indeksiga ega DataFrame yarating.

In [ ]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = # (Dasturni davom ettiring!)

**5.** Ushbu DataFrame va uning ma ºlumotlari haqidagi asosiy ma ºlumotlarning qisqacha mazmunini ko ªrsating.

`üí°Ishora:` DataFrame ºda chaqirilishi mumkin bo ªlgan yagona usul mavjud.

**6.** DataFrame `df` dastlabki 3 qatorini qaytaring.

**7.** DataFrame `df` ºdan faqat `animal` va `age` ustunlarini tanlang.

**8.** `[3, 4, 8]` va `['animal', 'age']` qatorlaridagi ma ºlumotlarni tanlang.

**9.** Faqat `visits` soni 3 tadan ko ªp bo ªlgan qatorlarni tanlang.

10. Yosh yo ªqolgan qatorlarni tanlang, ya ºni `NaN`.

**11.** `animal` qatoridagi `cat` va `age` qatoridagi `3` dan kichik bo ªlgan umumiy qatorlarni tanlang.

**12.** `age` 2 va 4 (shu jumladan) orasidagi qatorlarni tanlang.

**13.** `f` qatoridagi yoshni `1,5` ga o ªzgartiring.

**14.** `df` yordamida `visits` qatorining yig ªindisini hisoblang.

**15.** Har bir `animal` uchun o ªrtacha yoshni `df` da hisoblang.

**16.** `df` yordamida har bir turdagi `animal` sonini hisoblang.

**17.** `animal` ustunida, `snake` so ªzini `python` so ªziga o ªzgartiring.

## `üìåDataFrame: Murakkab`

### Darajasi murakkabroq vazifa: to ªg ªri javob olish uchun ikki yoki undan ortiq usullarni birlashtirish kerak bo ªlishi mumkin

Oldingi bo ªlim DataFrame ºning asosiy, ammo muhim operatsiyalari bo ªyicha vazifalari jamlagan edi. Quyida ma ºlumotlarni kesishingiz kerak bo ªlgan mashqlar mavjud.

**18.** Sizda butun sonlardan iborat `A` ustunli DataFrame `df` mavjud. Misol uchun:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

Yuqoridagi qator bilan bir xil butun sonni o ªz ichiga olgan qator yarating.


üí°Sizda quyidagi qiymatlarni o ªz ichiga olgan ustun paydo bo ªlishi kerak:

```python
1, 2, 3, 4, 5, 6, 7
```

**19.** Raqamli qiymatlardan iborat DataFrame berildi.

```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # float qiymatlarining 5x3 o ªlchovi
```

Qatordagi har bir elementdan satrning o ªrtacha qiymatini qanday ayirish mumkin?

**20.** Sizda 10 ta haqiqiy raqamlar ustunidan iborat DataFrame mavjud:

``` python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Qaysi sonlar ustunining yig ªindisi eng kichik ekanini hisoblang. U ustunning yorlig ªini qaytaring.

**21.** Quyida butun sonlardan iborat DataFrame `df` mavjud. Har bir satrga  5 ta yozuv `NaN` qiymatlari kiritilgan.

DataFrame ºning har bir qatori uchun uchinchi `NaN` qiymatini o ªz ichiga olgan ustunni toping.

Ustun yorliqlarini qaytarishingiz kerak: `e, c, d, h, d`

In [ ]:
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

# Javobni bu yerga yozing.

**22.** DataFrame `grps` guruhlari ustuniga va `vals` butun qiymatlari ustuniga ega:

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
Har bir `grps` uchun uchta eng katta qiymatning yig‚Äòindisini toping.

üí°Javobni quyidagicha yakunlashingiz kerak:
```
grps
a    409
b    156
c    345
```

     'a   a  a b  b  c a a  b  c  c   c  b  b  c'
      12,345,3,1,45,14,4,52,54,23,235,21,57,3,87

In [ ]:
# Javobni bu yerga yozing.

**23.** Quyida tuzilgan DataFrame `df` ikkita butun son ustuniga ega `A` va `B`. `A` dagi qiymatlar 1 dan 100 gacha (shu jumladan).

`A` dagi har bir 10 ta ketma-ket butun sonlar guruhi uchun (ya‚Äôni `(0, 10]`, `(10, 20]`, ...) 'B' ustunidagi mos qiymatlar yig ªindisini hisoblang.

Javob quyidagicha bo ªlishi kerak:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

# Javobni bu yerga yozing!

**24.** 'X' butun son ustuni bo ªlgan DataFrame:
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```

Har bir qiymat uchun farqni oldingi nolga qaytaring.

Sizda natija quyidagicha bo ªlishi kerak:

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

Buni yangi `Y` ustuni deb nomlang.

In [ ]:
#javobni bu yerga yozing!

##`üìåMa ºlumotlarni tozalash`

Bu har doim sodir bo ªladi: kimdir sizga noto ªg ªri tuzilgan satrlar, ro ªyxatlar va yetishmayotgan ma ºlumotlarni o ªz ichiga olgan ma ºlumotlarni beradi. Tahlilni davom ettirish uchun uni qanday tartibga keltirasiz?

**25.** Quyidagi jumboqni tasavvur qilishi uchun ushbu misolni DataFrame sifatida oling:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})
```
Tartiblaganingizdan so ªng u quyidagi ko ªrinishga ega bo ªlishi kerak:

```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```

**26.** **FlightNumber** ustunidagi ba ºzi qiymatlar yo ªq. Ular `NaN` ko ªrinishida yozilgan. Bu raqamlar har bir qatorda 10 ga ko ªpayishi kerak, shuning uchun 10055 va 10075 ni qo ªyish kerak. Ushbu yetishmayotgan raqamlarni to ªldirish uchun `df` ni o ªzgartiring va ustunni butun son ustuniga aylantiring.

**27.** **From\_To** ustunini ikkita alohida ustun ko ªrinishida yozing.                                          

To ªg ªri qiymatlarga ega `temp` deb nomlangan yangi Temporary DataFrame berish uchun har bir satrni pastki chiziq chegarasiga ajrating.                                                                     Ushbu Temporary DataFrame ustunlarini `From` va `To` deb nomlang.

**28.** Temporary DataFrame `temp` da shahar nomlari betartib yozilgan.
Satrlarning faqat birinchi harfi katta yozilishi kerak.
                                                                         (Masalan, "londON" "London" bo ªlishi kerak.)

**29**. `Airline` ustunida aviakompaniya nomlari atrofida qo ªshimcha tinish belgilari va boshqa belgilar paydo bo ªlganini ko ªrishingiz mumkin. Faqat aviakompaniya nomini qoldiring. Masalan, ''(British Airways. )'' `British Airways` ko ªrinishida yozilishi kerak.

**30.** `df` dan **From_To** ustunini o ªchiring va Temporary DataFrame `temp` ustunini qo ªshing.

**31**. `RecentDelays` ustunida qiymatlar DataFrame ºga ro ªyxat sifatida kiritilgan. Vazifangiz birinchi, har bir ikkinchi qiymatni o ªz ustunida va qolgan qiymatlar ham ustunga mos holda chop etish. Agar N-chi qiymat bo ªlmasa, qiymat `NaN` deb nomlanishi kerak.

Ro ªyxatlar qatorini `delays` nomli DataFrame ichiga kengaytiring, `delay_1`, `delay_2` va qolgan ustunlarni ham nomlarini o ªzgartiring va `df` dagi keraksiz `RecentDelays` ustunini `delays` bilan almashtiring.

Natija quyidagi ko ªrinishda bo ªlishi kerak:
```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```

##`üìåMinesweeper`


### Minesweeper tarmog ªida xavfsiz kvadratlar uchun raqamlar yaratamiz.

üí° Agar siz Windows ºning avvalgi versiyalaridan foydalangan bo ªlsangiz, Minesweeper bilan tanishsiz:
- https://en.wikipedia.org/wiki/Minesweeper_(video_game)

Agar siz o ªyin bilan tanish bo ªlmasangiz, kvadratchalar to ªplamini tasavvur qiling: bu kvadratlarning ba ºzilari mine ºni yashiradi. Agar siz mine ºni bossangiz, darhol yo ªqotasiz. Agar siz xavfsiz kvadratni bossangiz, darhol qo ªshni bo ªlgan kvadratchalarda qancha mine borligini ko ªrsatadigan raqamni ko ªrasiz. O ªyinning maqsadi to ªrdagi mine bo ªlmagan barcha kvadratlarni ochishdir.

Ushbu bo ªlimda Minesweeper o ªyini uchun kerakli ma ºlumotlarni o ªz ichiga olgan DataFrame yaratamiz: kvadratlarning koordinatalari, kvadratda mine bormi va qo ªshni kvadratlarda topilgan mine ºlar sonini aniqlaymiz.

**32**. Tasavvur qiling, biz Minesweeper o ªyinini 5 dan 4 gacha bo ªlgan panjarada o ªynayapmiz, ya ºni.
```
X = 5
Y = 4
```
Boshlash uchun ikkita ustunli DataFrame `df` yarating, bu tarmoq uchun har bir koordinatani o ªz ichiga olgan `'x'` va `'y'`. Ya ºni DataFrame ishga tushishi kerak:
```
    x y
0 0 0
1 0 1
2 0 2
```

**33**. Ushbu DataFrame `df` uchun yangi nol (safe) va birliklar (mine) ustunini yarating. Har bir joyda mine sodir bo ªlish ehtimoli 0,4 bo ªlishi kerak.

 **34**. Endi ushbu DataFrame uchun `adjacent` nomli yangi ustun yarating. Ushbu ustunda tarmoqdagi qo ªshni kvadratlarda topilgan mine ºlar soni bo ªlishi kerak.

(Masalan, `(0, 0)` koordinatasi uchun yozuv bo ªlgan birinchi qator uchun `(0, 1)`, `(1, 0)` va `(1) koordinatalarida qancha mine borligini hisoblang. , 1)`.)

**35**. Mine ºni o ªz ichiga olgan DataFrame qatorlari uchun `adjacent` ustunidagi qiymatni `NaN` ga o ªzgartiring.

**36**. DataFrame-ni `adjacent` mine ºlar sonining panjarasiga aylantiring: ustunlar `x` koordinatasi, qatorlar `y` koordinatasi.

##üìåBONUS vazifa

O ªzingiz javob berishni istagan savolni kiriting va unga javob bering.